/build/
nbproject/private/private.xml

/dist/
/nbproject/private/
/nbproject/build-impl.xml
/nbproject/genfiles.properties
/nbproject/project.properties
/nbproject/project.xml

*.class
*.log
*.ctxt
*.war
*.ear
*.jar
*.zip
*.tar.gz
*.rar

/.idea/
/.vscode/
*.iml
*.ipr
*.iws

.DS_Store
Thumbs.db

/target/
/lib/
/dependency-reduced-pom.xml

*.settings
*.prefs

*.log
logs/

*.tmp
*.swp
*~
~$*nbproject/private/
